{% extends "base.html" %} {% block header %}
<h1>{{ title }}</h1>
{% endblock %} {% block content %}
<form method="POST" action="{{ url_for('search') }}">
  {{ form.csrf_token }}
  <p>
    {{ form.title.label }}{{ form.title() }} {% for error in form.title.errors
    %}
    <span style="color: red">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
</form>
{% if books %}
<ul class="list-group">
  {% for book in books %}
  <li class="list-group-item">
    <h2>{{ book.title }}</h2>
    {% for author in book.authors %}
    <p>{{ author.name }}</p>
    {% endfor %} {% if book.imageUrl %}
    <img src="{{ book.imageUrl }}" />
    {% endif %}
    <button
      class="btn btn-primary"
      onclick="addBook('{{ book.google_books_id }}')"
    >
      Add Book to My Library
    </button>
  </li>
  {% endfor %}
</ul>
<script>
  function addBook(google_books_id) {
    fetch('/api/add-book', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ google_books_id: google_books_id }),
    })
      .then((response) => response.json())
      .then((data) => {
        console.log(data.message);
      })
      .catch((error) => {
        console.error(error);
      });
  }
</script>
{% endif %} {% endblock %}
